{% extends 'base.html.twig' %}

{% block body %}
    <h3>Enclosures</h3>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table-enclosures">
        <tbody>
        {% for enclosure in enclosures %}
            <tr id="enclosure-{{ enclosure.id }}">
                <td>Enclosure #{{ enclosure.id }}</td>
                <td>
                    Contains <strong>{{ enclosure.dinosaurCount }}</strong> dinosaur(s)
                </td>
                <td>
                    {% if enclosure.isSecurityActive %}
                        Security Active
                    {% else %}
                        <button class="button-alarm">
                            Sound Alarm!!!
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/_newDinoForm.html.twig' %}
{% endblock %}
